:root {
  --Basic-red: #EE3643;
  --loan-button: #FF5357;
  --Basic-darkred: #BA2732;
  --red-focus: #CA2C37;
  --Special-blue: #3BBCE3;
  --Special-lilac: #DC91D8;

  /* кнопка покупказакладка */
  --Basic-greenborder: #63A63E;
  --Special-green: #5FBB2D;
  --Basic-greenklick: #518534;

  --Special-greenlight: #8ED78F;
  --button-buy-static: #367315;
  --Basic-grey: #3D546F;
  --Basic-backgroundheader: #293449;
  --shadow-service: #405069;
  --Basic-backgroundklick: #161D29;
  --Basic-fontcolor: #32425C;
  --button-items-active: #99A1AE;
  --back-nav-active: #1D2739;
  /* основная подлоэка под меню+фон футер */
  --Basic-black: #000000;
  --Basic-soft-grey: #C5C5C5;
  --Basic-delcolor: #A9A9A9;
  --Basic-middle-grey: #B5B5B5;
  --Special-lightgrey: #EAEAEA;
  --Basic-background: #F1F5F7;
  --Button-pages: #E5E5E5;
  /* текст ссылок в футере */
  --Basic-white: #ffffff;
  --Special-ylellow: #FFBF47;
  --Special-yellowlight: #FFD180;
  --Basic-bg-soshial-start: #212A3A;
  --hover-textwhite: rgba(255, 255, 255, 0.5);
  --best-block: #F9F5F0;
  --basic-colorfilter: #F7F3EC;
  --basic-lowwhite: rgba(255, 255, 255, 0.3);
  --items-shadow: rgba(0, 0, 0, 0.15);
  --modal-back: #F4F4F4;
  /* Фильтр */
  --scale: #d7dcde;
  --bar: #00ca74;
  --toggle: #ababab;
  --toggle-shadow: #cfcfcf;
  --filter-button: #e5e5e5;
}


/* Global -----------------------------------------------*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  /* background-color: #c55680; */
}

a {
  text-decoration: none;
  color: var(--Basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  width: 940px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

/* .popap {
  display: none;
} */

.reset-list {
  margin: 0;
  padding: 0;

}

/* Header ----------------------------------------*/

.profile-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-top: 2px;
  position: relative;
}

.menutop-header {
  background-color: var(--Basic-backgroundheader);
  color: var(--Basic-white);
  height: 42px;
}

.inner-menutop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.inner-menutop-header a {
  display: block;
}

.header-middle {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  min-height: 158px;
  box-sizing: border-box;
}

.enter {
  position: relative;
}

/* .cabinet {
  display: flex;
  justify-content: space-between;
} */

.header-block {
  background-color: var(--Basic-background);
  display: block;
  padding-bottom: 60px;
}

.logo-header {
  position: absolute;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 57px;
  text-align: center;
  background-color: var(--Basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  left: 0px;
  top: 0px;
  box-sizing: border-box;
}

.logo-catalog:hover,
.logo-catalog:focus {
  background-color: var(--Basic-red);
}

.logo-catalog:active {
  background-color: var(--Basic-darkred);
}

.logo-header:active {
  background-color: var(--Basic-darkred);
}

.labels {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}


/* Форма поиска в Header */

.menutop-search {
  display: flex;
  flex-grow: 1;
  margin-left: 221px;
}

.menutop-search,
.menutop-bookmarks,
.menutop-backet,
.menutop-order {
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.menutop-search input {
  display: block;
  width: 271px;
  height: 42px;
  color: var(--Basic-white);
  background-color: transparent;
  border: none;
  padding-left: 42px;
}



/* .menutop-search input:focus,
.menutop-search input:focus + .menutop-search svg {
  color: var(--Basic-black);
  background-color: var(--Basic-white);
  fill: var(--Basic-red);
  outline: var(--Basic-red);
}
 */
/* .line-search::placeholder:hover {
  fill: var(--Basic-white);
  opacity: 1;
}
 */
/* 
.line-search:hover {
  
 
} */


.menutop-search {
  position: relative;
}

.menutop-search input::placeholder {
  color: var(--Basic-white);
}

.menutop-search svg {
  fill: var(--Basic-white);
  position: absolute;
  /* right: 120px; */
  top: 12px;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 16px;
  opacity: 0.3;
}

.menutop-search svg:hover,
.menutop-search svg:focus {
  /* fill: var(--Basic-white); */
  opacity: 1;
}

.menutop-search input:focus,
.menutop-search input:focus+svg {
  color: var(--Basic-black);
  background-color: var(--Basic-white);
  fill: var(--Basic-red);
  opacity: 1;
}

/* .menutop-search input:active {
  background-color: var(--Basic-white);
  color: var(--Basic-black);
  border: none;
}
.menutop-search svg:active {
  fill: var(--Basic-red);
} */

/* 
.menutop-search input:focus+svg {
  background-color: var(--Basic-white);
  color: var(--Basic-black);
  border: none;
  fill: var(--Basic-red);
} */


.menutop-bookmarks,
.menutop-backet,
.menutop-order {
  min-width: 150px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 8px;
  text-align: center;

}

.menutop-backet {
  min-width: 136px;
  position: relative;
  padding-left: 12px;
  padding-right: 2px;
}

.active-red {
  background-color: var(--Basic-red);
  padding-left: 16px;
}

.menutop-backet::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 12px;
  width: 15px;
  height: 16px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.menutop-bookmarks {
  position: relative;
  padding-left: 1px;
  padding-right: 10px;
  padding-top: 10px;
  padding-right: 11px;
}

.menutop-bookmarks::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 6px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}


.menutop-order {
  background-color: var(--Basic-greenborder);
  padding-left: 19px;
  padding-right: 16px;
  box-sizing: border-box;
}


.menutop-order:focus,
.menutop-order:hover {
  background-color: var(--Special-green);
}

.menutop-bookmarks,
.menutop-backet {
  opacity: 1;
}

.menutop-backet:active,
.menutop-bookmarks:active,
.menutop-bookmarks:active::before,
.menutop-backet:active::before {
  opacity: 0.5;
  background-color: var(--Basic-backgroundklick);
}

.menutop-bookmarks:active,
.menutop-backet:active,
.menutop-order:active {
  color: var(--hover-textwhite);
}

.menutop-bookmarks:hover::before,
.menutop-backet:hover::before,
.menutop-bookmarks:focus::before,
.menutop-backet:focus::before {
  opacity: 1;
}

.menutop-order:active {
  background-color: var(--Basic-greenborder);
}

.header-description-index {
  font-family: Cuprum;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: var(--Basic-red);
  margin: 0;
  margin-left: 30px;
}

.header-description-catalog {
  font-family: Cuprum;
  font-style: italic;
  font-weight: 400px;
  font-size: 16px;
  line-height: 23px;
  color: var(--Basic-red);

}

.catalog-description {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--Basic-red);

}

.phone {
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  background-color: transparent;
  padding: 7px 47px 3px 73px;
  color: var(--Basic-red);
  border: 3px solid var(--Basic-white);
  box-sizing: border-box;
  display: inline-block;
  /* margin-left: 31px; */
}

.phone-catalog {
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  background-color: transparent;
  padding: 7px 47px 3px 73px;
  color: var(--Basic-red);
  border: 3px solid var(--Basic-white);
  box-sizing: border-box;
  display: inline-block;
  margin-left: 15px;
  margin-right: 3px;
}


.phone-catalog::before {
  content: "";
  position: absolute;
  top: 12px;
  width: 19px;
  height: 19px;
  left: 40px;
  background-image: url(../img/icon-phone.svg);
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.adress-catalog {
  margin-left: 8px;
}

.phone::before {
  content: "";
  position: absolute;
  top: 12px;
  width: 19px;
  height: 19px;
  left: 40px;
  background-image: url(../img/icon-phone.svg);
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.header-middle address {
  margin-left: 31px;
}

.adress {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--Basic-fontcolor);
  margin-top: 4px;
  margin-left: 12px;
}

.adress2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--Basic-fontcolor);
  margin-top: 4px;
  margin-left: 28px;
}

.login {
  position: relative;
  width: 121px;
  padding-left: 41px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 12px;
  margin-right: 10px;
}

.registration {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login,
.registration {
  display: inline-block;
  font-family: Cuprum;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--Basic-black);
  background-color: var(--Basic-white);
}

.login::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 15px;
  left: 22px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.login:hover::before {
  background-image: url("../img/icon-login_hover.svg");
  background-repeat: no-repeat;
}


.login:active::before {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

/* Кнопки входа, регистрации изменение цвета */

.registration:hover {
  color: var(--Basic-red);
}

.login:hover {
  color: var(--Basic-red);
}

.login:active,
.registration:active {
  color: var(--Basic-soft-grey);
}

.login::before:active {
  fill: var(--Basic-soft-grey, #C5C5C5);
}

/* -----------Catalog */

.catalog-main-content {
  display: flex;
  margin-bottom: 59px;
  margin-top: 20px;
}

.filter-block {
  margin-right: 20px;
}

.sort-block {
  background-color: var(--basic-colorfilter);
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 38px;
  text-align: center;
  align-items: center;
  margin-bottom: 28px;
  border-radius: 3px;
}

.sort-up-down {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 21px;
  /* padding-left: 46px; */
  padding-right: 17px;
}


.list-sort {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  text-transform: uppercase;
  padding: 19px;
  padding-right: 140px;
}

/* Сортировка по типу, цене */

.list-sort2 {
  list-style: none;
  margin: 0;
  margin-top: 1px;
  display: grid;
  grid-template-columns: 53px 53px 113px;
  grid-column-gap: 67px;
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
  color: var(--Basic-soft-grey);
}

.list-sort2 li {
  border-bottom: 1px dotted var(--Basic-red);
}

.list-sort2 li {
  border-bottom: 1px dotted var(--Basic-red);
}

.list-sort2 li:focus,
.list-sort2 li:hover {
  color: var(--Basic-black);
  cursor: pointer;
  border-bottom: 1px solid var(--Basic-red);
}

.list-sort2 li:active {
  color: var(--Basic-red);
  cursor: pointer;
  border-bottom: none;
}

.list-sort2 .list-sort2_active {
  color: var(--Basic-red);
  cursor: pointer;
  border-bottom: none;
}

/* .list-sort2_type {
  padding-bottom: 1px;
} */

/* .list-sort2 li {
grid-column-gap: 70px;
} */

.list-sort2_function {
  padding-bottom: 1px;
}

.menutop-user {
  position: relative;
  color: var(--Basic-black);
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--Basic-white);
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 7px;
  display: inline-block;
  box-sizing: border-box;
}

.user {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 14px;
  left: 16px;
  fill: var(--Basic-soft-grey, #C5C5C5);
  cursor: pointer;

}

.user:focus,
.user:hover {
  fill: var(--Basic-fontcolor);
}

.login_catalog {
  position: absolute;
  width: 20px;
  height: 17px;
  right: 18px;
  top: 13px;
  cursor: pointer;
  fill: var(--Basic-soft-grey, #C5C5C5);
}

.login_catalog:hover {
  fill: var(--Basic-fontcolor);
}


/* .menutop-user::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 14px;
  left: 20px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  fill: var(--Basic-soft-grey, #C5C5C5);
}



.menutop-user:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 15px;
  left: 250px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  fill: var(--Basic-soft-grey, #C5C5C5);
}
 */
.menutop-myprofile::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  top: 7px;
  right: -17px;
  background-color: var(--Basic-fontcolor, #32425C);
  border-radius: 50%;
}

.menutop-myprofile,
.menutop-myprofile2 {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--Basic-fontcolor);
  display: inline-block;
}

/* .menutop-myprofile {
  padding-left: 12px;
} */

.menutop-myprofile2 {
  padding-left: 26px;
}

.menutop-myprofile:focus,
.menutop-myprofile:hover,
.menutop-myprofile2:focus,
.menutop-myprofile2:hover {
  color: var(--Basic-red);
}

.menutop-myprofile:hover::after {
  background-color: var(--Basic-red);
}

.menutop-myprofile:active,
.menutop-myprofile2:active,
.menutop-user:active {
  color: var(--Basic-soft-grey, #C5C5C5);
}


/* .menutop-myprofile:hover+.menutop-myprofile:hover::after {
  background-color: var(--Basic-red);
}  */

.menutop-myprofile:active::after {
  background-color: var(--Basic-soft-grey, #C5C5C5);
}

.icon-up,
.icon-down {
  fill: var(--Basic-soft-grey, #C5C5C5);
  cursor: pointer;
}

.icon-up:focus,
.icon-up:hover,
.icon-down:focus,
.icon-down:hover {
  fill: var(--Basic-black);
}

.icon-up_active {
  fill: var(--Basic-red);
}

.icon-up:active,
.icon-down:active {
  fill: var(--Basic-red);
}

.equipment {
  background-color: var(--Basic-background);
}

.equipment h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 25px;
}

.equipment-content {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 69px;
  margin-bottom: 0px;
}


/* ----Хлебные крошки---- */
.min-nav {
  position: relative;
  display: flex;
  align-items: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.min-nav a {
  position: inherit;
}

.min-nav a:not(:first-child)::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  left: -25px;
  top: 2px;
}

.back-nav {
  background-color: var(--Basic-fontcolor);
  box-shadow: inset 0px -5px 0px var(--Basic-backgroundheader);
  box-sizing: border-box;
}

.list-nav {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: var(--Basic-white);
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(7, auto);
  padding-left: 25px;
  padding-right: 18px;
  margin: 0;
  /* flex-wrap: wrap;
  padding: 0 30px; */
}


.list-nav a {
  padding-left: 27px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 20px;
  display: block;
}

.list-nav a:focus,
.list-nav a:hover {
  background-color: var(--Basic-backgroundheader);
}

.list-nav a:active {
  background-color: var(--back-nav-active);
  color: var(--hover-textwhite);
}

/* Block main ------------------------------------------------*/

.main-block {
  background-color: var(--Basic-white);
}

/*--------------- Index */
.promo {
  padding-top: 59px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;

  /* grid-row-start: 3;
     grid-column-start: 1;
     grid-column-end: 3; */
}

/* Флекс главного контента и слайдер */
.promo-blocks1 {
  width: 620px;
  display: flex;
  flex-direction: column;
}

.promo-block2 {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.promo-block1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slider-list p {
  margin: 0;
}

.slider-list li {
  margin: 0;
  padding: 0;
}


/* 
-------------------------------------- */

/* Основной контент - Index */

.promo-items-1,
.promo-items-2,
.promo-items-3,
.promo-items-4,
.promo-items-5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--Basic-white);

}

.items {
  border: 1px solid var(--Special-lightgrey);
}


.article-1,
.article-2,
.article-3,
.article-4,
.article-5 {
  width: 300px;
  height: 123px;
  position: relative;
}

.article-1,
.article-5 {
  background-color: var(--Special-ylellow);
}

.article-2 {
  background-color: var(--Special-blue);
}

.article-3 {
  background-color: var(--Special-lilac);
}

.article-4 {
  background-color: var(--Special-greenlight);
}

.article-3,
.article-4 {
  margin-bottom: 20px;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;

}

.article-1::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.article-2::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.article-3::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url(../img/icon-3.svg);
}

.article-4::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url(../img/icon-4.svg);
}

.article-5::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url(../img/icon-5.svg);
}

.promo-block1 h3,
.promo-block2 h3 {
  padding-left: 22px;
  padding-top: 20px;
  /*  padding-right: 163px; */
  margin: 0;
}

/* .promo-items a {
  color: var(--Basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 31px;
  padding-left: 46px;

} */

.promo-items-a {
  color: var(--Basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  padding: 10px;
  display: block;
  background-color: var(--basic-lowwhite);
  box-sizing: border-box;
  margin-top: 14px;
  margin-left: 23px;
}

/* Изменение цвета ссылок на промо итемсах */
.promo-items-a:focus,
.promo-items-a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-items-a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

/* Slider */

.slider-list {
  position: relative;
  list-style: none;
  width: 620px;
  height: 266px;
  margin-top: 20px;
  padding: 0px;
}

.slider-button {
  position: relative;
}


.slider-promo-items {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--Basic-white);
  text-transform: uppercase;
  padding-left: 24px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding-top: 23px;
}

.list-promo-slider {
  /* font-family: Cuprum; */
  font-style: normal;
  font-weight: normal;
  color: var(--Basic-white);
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
}

/* Bestseelers */

.best-block-items {
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 70px;
  flex-wrap: wrap;
  /*   display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px 20px;
margin: 0;
padding: 0;
margin-bottom: 70px;
list-style: none; */
}

.best-block-items li {
  position: relative;
  width: 220px;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}

.best-block-items li:nth-child(4n) {
  margin-right: 0;
  padding-right: 0;
}

.best-block-items .img-wrap {
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.best-block-items2 {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
  padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;

}

.best-block-items2 li:nth-child(4n) {
  margin-right: 0;
  padding-right: 0;
}

.best-block-items2 li {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid var(--Special-lightgrey);
  background-color: var(--Basic-white);
}

.best-block-items2 li:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 20px;
}

.best-block-items2 a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.best-block-items2 img {
  object-fit: contain;
}

/* Подсвечивание бордера производителей */
.best-block-items2 li:focus,
.best-block-items2 li:hover {
  box-shadow: 0px 4px 20px var(--items-shadow);
}

.best-block-items2 li:active {
  opacity: 0.5;
}

.best-block-items2_vend1 {
  background-image: url("../img/vend_bosh.png");
  background-repeat: no-repeat;
}

.best-block-items2_vend2 {
  padding-bottom: 8px;
}

.best-block-items2_vend3 {
  padding-bottom: 6px;
}

.best-block-items2_vend4 {
  padding-bottom: 16px;
}

.best-block-items2_vend5 {
  padding-left: 8px;
}

.index-current-slider {
  position: absolute;
  width: 620px;
  height: 266px;
  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
  z-index: 2;
}

.index-add-slider {
  position: absolute;
  display: none;
  width: 620px;
  height: 266px;
  background-image: url("../img/slider-snippet.jpg");
  background-repeat: no-repeat;
  z-index: 1;
}

.article-slider {
  position: relative;
}

/* .header-shadow {
  position: absolute;
  z-index: 45;
  width: 620px;
  height: 107px;
  background-color: rgba(0, 0, 0, 0.4);
} */

.article-slider::before {
  content: '';
  position: absolute;
  top: 123px;
  left: 23px;
  z-index: 22;
  width: 21px;
  height: 39px;
  display: block;
  background-image: url("../img/icon-left.svg");
  cursor: pointer;
}


.article-slider::after {
  content: '';
  position: absolute;
  top: 123px;
  left: 578px;
  z-index: 22;
  width: 21px;
  height: 39px;
  display: block;
  background-image: url("../img/icon-right.svg");
  cursor: pointer;
}

.control {
  position: absolute;
  right: 295px;
  bottom: 33px;
  z-index: 23;
}

.control button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--Basic-red, #EE3643);
  border: 2px solid var(--Basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.control .buttonfirst {
  background-color: var(--Basic-white);
  margin-right: 7px;
}

.best-block-items-catalog {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  margin: 0px;
  padding: 0px;
}

.best-block-items-catalog p {
  z-index: 1;
}

.best-block-items-catalog li {
  border: 1px solid var(--Special-lightgrey);
  position: relative;
  width: 220px;
  min-height: 318px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin: 0;

  /* padding: 17px 21px; */
}

.best-block-items-catalog li:nth-child(3n) {
  margin-right: 0;
}



.best-block-items-catalog .img-wrap {
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

}

.catalogitems-img1 {
  padding-right: 7px;
  padding-top: 8px;
}

.catalogitems-img4 {
  padding-right: 8px;
  padding-top: 3px;
}

.catalogitems-img5 {
  padding-right: 7px;
  padding-top: 8px;
}

.catalogitems-img6 {
  padding-right: 7px;
  padding-top: 8px;
}

.catalogitems-img7 {
  padding-right: 7px;
  padding-top: 8px;
}

.catalogitems-img8 {
  padding-right: 7px;
  padding-top: 8px;
}

.catalogitems-img9 {
  padding-right: 7px;
  padding-top: 8px;
}

/* .catalog-items p {
  margin: 0;
  margin-bottom: 20px;
  margin-top: auto;

} */

.items p {
  margin: 0;
  z-index: 1;
}

.items img {
  object-fit: contain;
}

.indexitems-img1 {
  margin-top: 7px;
}

.indexitems-img2 {
  margin-right: 10px;
  margin-top: 2px;
}

.indexitems-img3 {
  margin-right: 9px;
  margin-top: 4px;
}

.indexitems-img4 {
  margin-right: 12px;
  margin-top: 2px;
}

/*  Стилизация страниц */

.pages {
  margin-top: 48px;
  /*  margin-right: 8px; */
}

.pages button {
  padding: 9px 14px;
  border: 1px solid var(--Button-pages, #E5E5E5);
  background-color: var(--Basic-white);
  border-radius: 2px;
  color: var(--black);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 7px;
}

.pages button:last-child {
  padding: 9px 30px 9px 31px;
}

.pages button:focus,
.pages button:hover {
  border: 1px solid var(--Basic-soft-grey, #C5C5C5);
}

.pages button:active {
  border: 1px solid var(--Basic-red);
}

.pages button:first-child {
  border-color: var(--Basic-red);
  background-color: var(--Basic-red);
  color: var(--Basic-white);
  border: none;
}



.best-block {
  background-color: var(--best-block);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  box-sizing: border-box;
}

/* ------------Catalog! */

.menu-list-catalog1,
.menu-list-catalog2,
.menu-list-catalog3,
.menu-list-catalog4 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--Basic-black);
  padding-right: 41px;
}

.catalog-products-puncher {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--Basic-background);
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.catalog-items {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
  margin-top: 4px;
  z-index: 1;
  margin-left: 1px;
  margin-bottom: 7px;
  padding-top: 2px;
}

.nodel {
  margin-bottom: 35px;
}

.del {
  color: var(--Basic-delcolor);
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 0;
  /* margin-bottom: 35px; */


}

.best-block-items {
  margin-top: 19px;
}


.items .price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Basic-white);
  background-image: url(../img/button_price.png);
  background-repeat: no-repeat;
  background-position: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 141px;
  margin-top: auto;
}


/* Фильтр на странице с каталогм */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item .vendor::before {
  content: '';
  position: absolute;
  top: -16px;
  display: block;
  width: 220px;
  height: 1px;
  background-color: var(--Basic-soft-grey, #C5C5C5);
  left: 0;
}

.filter-item .power::before {
  content: '';
  position: absolute;
  top: -18px;
  display: block;
  width: 220px;
  height: 1px;
  background-color: var(--Basic-soft-grey, #C5C5C5);
  left: 0;
}

/* .vendors legend::before {
  content: '';
  position: absolute;
  top: -25px;
  width: 220px;
  height: 1px;
  background-color: var(--Basic-soft-grey, #C5C5C5);
  left: -5px;
}

.power legend::before {
  content: '';
  position: absolute;
  top: -27px;
  width: 220px;
  height: 1px;
  background-color: var(--Basic-soft-grey, #C5C5C5);
  left: -5px;
} */


.filter-item legend {
  position: relative;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Basic-black);
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-colorfilter);
  width: 220px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-bottom: 14px;
  padding-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-right: 39px;
  padding-left: 26px;
  background-color: var(--basic-colorfilter);
  border-radius: 5px;
  box-sizing: initial;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale, #d7dcde);
  width: 173px;
}

.range-controls .bar {
  width: 90%;
  height: 2px;
  background: var(--bar, #00ca74);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--Basic-white, #ffffff);
  background-color: var(--toggle, #ababab);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow, #cfcfcf);
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.price-controls input {
  font-family: PT Sans;
  font-size: 17px;
  width: 95px;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--basic-colorfilter);
  box-sizing: border-box;
}

.min-price {
  position: relative;
}

.min-price input:first-child {
  margin-left: 0;
  margin-right: 12px;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;
  height: 1px;
  width: 9px;
  background-color: #444444;
}

.filter-option label {
  position: relative;
  display: block;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  padding-left: 35px;
}

.checkbox label {
  margin-bottom: 20px;
}

.radiobox .akk {
  margin-bottom: 23px;
}

/* Стилизация чекбоксов  */

.checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 23px;
  opacity: 0.7;
  background-image: url("../img/checkbox-off.svg");
  background-color: var(--Basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox input:checked+label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox input:hover+label:hover::before {
  opacity: 1;
}

/* Стилизация радиобоксов */

.radiobox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-color: var(--Basic-white);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.radiobox input:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.radiobox input:hover+label:hover::before {
  opacity: 1;
}

.border_fieldset {
  border-top: 1px solid var(--modal-back);
  margin-top: 23px;
}

.vendors legend {
  margin-bottom: 17px;
}

.power legend {
  margin-bottom: 23px;
}


/* .checkbox input:checked + label::before {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-off.svg");
  background-color: red;
  background-repeat: no-repeat;
} */


/* .list-legend label {
  position: relative;
  text-transform: uppercase;
}
 */
/* .check-input {}

.checkbox {
  background-color: white;
}
 */
/* .checkbox::before {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-off.svg");
  background-color: red;

  background-repeat: no-repeat;
} */

/* Конец фильтра */

.vendors {
  margin-top: 41px;
}

.power {
  margin-top: 27px;
  margin-bottom: 37px;
}



/* Service */

.service p {
  margin: 0px;
}

.service-block h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 25px;
}

/* Слайдер в сервисе */

.serviсe-slider {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 54px;
}

.serviсe-slider-button {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}

.serviсe-slider-button .default {
  box-shadow: 0 1px 0 var(--Basic-backgroundheader, #293449),
    inset 0 1px 0 var(--shadow-service, #405069);
}

.serviсe-slider-button button {
  text-align: left;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 17px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: none;
}


/* Дизайн кнопок в сервисе */
.serviсe-slider-button .activ {
  cursor: default;
  color: var(--Basic-fontcolor, #32425C);
  background-color: var(--Basic-white, #ffffff);
}

.serviсe-slider-button .default {
  cursor: pointer;
  color: var(--Basic-white, #ffffff);
  background-color: var(--Basic-fontcolor, #32425C);
}

/* Для активной кнопки под js - уточнить корретность-так как классы для каждой кнопки уже заданы */
.serviсe-slider-button .current {
  cursor: default;
  background-color: var(--Basic-white, #ffffff);
  color: var(--Basic-fontcolor, #32425C);
}

/* Тень для кнопок-слайдер в сервисе */
.serviсe-slider-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  bottom: -4px;
  right: 0;
  background-image: url("../img/shadow.png");
  background-position: right;
}

.serviсe-block-items {
  width: 620px;
  height: 100%;
  display: block;
  list-style: none;
  position: relative;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
  margin-left: 80px;
  box-sizing: border-box;
}

/* .serviсe-block-items li {
  background-color: var(--Basic-background);
  display: block;
} */

.slider-delivery-back .text-about-us,
.slider-security-back .text-about-us,
.slider-loan-back .text-about-us {
  position: relative;
  z-index: 10;

}

/* Текущий слайдер для Js */
.slide-current {
  display: block;
}

/* Скрытый слайдер */
.hidden {
  display: none;
}


.slider-delivery-back::after {
  content: "";
  position: absolute;
  z-index: 8;
  bottom: -126px;
  right: 1px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
}

.slider-security-back::after {
  content: "";
  position: absolute;
  z-index: 8;
  bottom: -106px;
  right: 0px;
  width: 389px;
  height: 283px;
  background-image: url("../img/security.png");
  background-repeat: no-repeat;
}

.slider-loan-back::after {
  content: "";
  position: absolute;
  z-index: 8;
  bottom: -177px;
  right: 0px;
  width: 465px;
  height: 285px;
  background-image: url("../img/loan.png");
  background-repeat: no-repeat;
}

/* Блок перед footer-om -------------------------------------*/

.titles-h2,
.titles-h4 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}

.titles-h2 {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.titles-h4 {
  padding-bottom: 28px;
  /* padding-right: 14px; */
  color: var(--Basic-fontcolor, #32425C);
}

.about-us h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 24px;
}

.about-us {
  background-color: var(--Basic-white);
}

.content-about-us {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px
}


.content-about-us img {
  margin-top: 32px;
  margin-bottom: 21px;
}

.content-about-us ul {
  padding: 0;
  margin: 0;
  padding-left: 37px;
  margin-bottom: 20px;
}

.text-about-us {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}

.slider-loan-back button {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 10px 44px;
  color: var(--Basic-white, #ffffff);
  background-color: var(--loan-button, #FF5357);
  border: none;
  margin-top: 33px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}


.text-about-us1 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0px;
}

.text-about-us2 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-top: 26px;
  margin-bottom: 1px;

}

.list-about-us {
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin: 0px;
  margin-bottom: 12px;
}


/* Красные полосочки */

.list-about-us::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 12px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--Basic-red, #EE3643);
  left: -35px;
}


.list-about-us:first-child::before {
  top: 14px;
}


.list-about-us:last-child::before {
  top: 10px;
  left: -38px;
}

/* ----------------Settings buttons */

.button-red-catalog,
.button-red-products,
.button-red-vends,
.button-red-about,
.button-red-kontakt,
.button-red-standart {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: var(--Basic-red);
  color: var(--Basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;

}

.button-red-catalog {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  bottom: 43px;
  left: 25px;
  margin: 0px;
  width: 192px;
  z-index: 3;
}

.button-red-products,
.button-red-standart {
  width: 192px;
  margin-right: 14px;
}

.button-red-products {
  margin-bottom: 5px;
}

.button-red-standart {
  padding-right: 7px;
}


/* Для слайдера */

.botton-before {
  position: absolute;
  z-index: 4;
  left: 25px;
  top: 10px;
  background-color: var(--Basic-red);
  width: 20px;
  height: 25px;
}

/* Изменение цвета при наведении красная кнопка */

.button-red-catalog:focus,
.button-red-products:focus,
.button-red-vends:focus,
.button-red-about:focus,
.button-red-kontakt:focus,
.button-red-catalog:hover,
.button-red-products:hover,
.button-red-vends:hover,
.button-red-about:hover,
.button-red-kontakt:hover,
.button-red-standart:focus,
.button-red-standart:hover {
  background-color: var(--red-focus);
}



.button-red-catalog:active,
.button-red-products:active,
.button-red-vends:active,
.button-red-about:active,
.button-red-kontakt:active,
.button-red-standart:active {
  background-color: var(--Basic-darkred);
}

.button-red-about {
  padding-top: 11px;
  padding-bottom: 9px;
  display: block;
  width: 220px;
  box-sizing: border-box;
  margin-top: 7px;
}

.button-red-kontakt {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-top: 11px;
  padding-bottom: 9px;
  width: 300px;
  display: block;
}

.button-red-standart {
  background-color: var(--Basic-red);
}

.button-buy,
.button-items {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
}


.button-buy {
  position: relative;
  background-color: var(--Basic-greenborder);
  display: block;
  width: 135px;
  padding: 9px;
  padding-left: 16px;
  border: 0;
  box-shadow: inset 0 -3px 0 var(--button-buy-static);
  margin-top: 38px;
  margin-bottom: 10px;
}

.button-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 9px;
  left: 27px;
  background-image: url(../img/icon-cart-buy.svg);
  background-repeat: no-repeat;
  fill: var(--Basic-soft-grey, #C5C5C5);
  opacity: 0.3;
}

.button-buy:focus,
.button-buy:hover {
  background-color: var(--Special-green, #5FBB2D);
}

.button-buy:active {
  background-color: var(--Basic-greenklick, #518534);
}

.button-items {
  width: 135px;
  display: block;
  padding: 9px 31px 7px 26px;
  background-color: transparent;
  /* var(--Basic-white); */
  border: 3px solid var(--Basic-greenborder);
  cursor: pointer;
}

.button-items:focus,
.button-items:hover {
  border-color: var(--Basic-fontcolor, #32425C);
}

.button-items:active {
  border-color: var(--button-items-active, #99A1AE);
  opacity: 0.52;
}


.list-legend {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  padding: 10px 79px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--filter-button, #e5e5e5);
  background-color: var(--Basic-white);
  cursor: pointer;
}

.filter-button:focus,
.filter-button:hover {
  border-color: var(--Basic-middle-grey);
}

/* Кнопки на итемсах - старый вариант */

.hidden-items {
  position: absolute;
  background-color: var(--Basic-white);
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 0;
}

.items:hover .hidden-items {
  display: flex;
}

.hidden-items_active {
  position: absolute;
  background-color: var(--Basic-white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 0;
  box-shadow: 0px 4px 20px var(--items-shadow);
}

.new-buy::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.best-block-items li {
  box-sizing: border-box;
  padding-bottom: 20px;
}

.best-block-items li:focus,
.best-block-items li:hover,
.best-block-items-catalog li:focus,
.best-block-items-catalog li:hover {
  box-shadow: 0px 4px 20px var(--items-shadow);
}



/* Service */

.serviсe {
  background-color: var(--Basic-background);
}

.service-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service p {
  margin: 0px;
}

/* Block footer -------------------------------*/

/* top- footer-block */
.logo-footer {
  background: var(--Basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;
}

.footer-add,
.footer-main {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  flex-basis: 560px;
  justify-content: space-between;
}


.footer-main {
  padding: 0;
  margin: 0;
  padding-top: 37px;
  padding-left: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-add {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 24px;
}

.social {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.academy {
  color: var(--Special-yellowlight);
}



/* .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  min-height: 41px;

} */


/* Ссылки в футере */

.list-footer-main,
.list-footer-add {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.list-footer-add {
  color: var(--Special-yellowlight);
}

.list-footer-main {
  color: var(--Basic-background);
}

.list-footer-main:focus,
.list-footer-main:hover,
.list-footer-add:focus,
.list-footer-add:hover {
  text-decoration-line: underline;
}

.list-footer-main:active {
  color: var(--Basic-background, #F1F5F7);
  opacity: 0.5;
  text-decoration: none;

}

.list-footer-add:active {
  color: var(--Special-yellowlight, #FFD180);
  opacity: 0.5;
  text-decoration: none;
}

.adress-footer {
  color: var(--Basic-background);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  padding-top: 19px;
}

.top-footer-flex,
.top-footer-flex2 {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.top-footer-flex2 {
  /* padding-top: 24px; */
  padding-bottom: 54px;
  padding-left: 2px;
}

.top-footer-flex2 a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: -1px;
  margin-left: 36px;
}

.top-footer-block {
  background-color: var(--Basic-fontcolor);
}

/* Bottom footer block ---------------------------------------*/

.bottom-footer-block {
  background-color: var(--Basic-backgroundheader);
  color: var(--Basic-white);
}

.bottom-footer-block-content {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 29px;
  box-sizing: border-box;
}


.bottom-footer-company,
.bottom-footer-company1,
.bottom-footer-company2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding: 0px;
  margin: 0;
}

.bottom-footer-company {
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 43px;

}

.bottom-footer-company2 {
  padding-left: 51px;
  padding-right: 14px;
}

.bottom-footer-us {
  display: flex;
  padding: 0px;
  padding-top: 1px;
}

.bottom-footer-us a:focus,
.bottom-footer-us a:hover {
  text-decoration: underline;
}

.bottom-footer-us a:active {
  color: var(--Basic-red);
}

.vk,
.facebook,
.instagram {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 1px;
  background: var(--Basic-bg-soshial-start);
  border-radius: 50%;
}

.vk:focus,
.vk:hover,
.vk:active,
.facebook:focus,
.facebook:hover,
.facebook:active,
.instagram:focus,
.instagram:hover,
.instagram:active {
  background-color: var(--Basic-red);
}

.vk {
  background-image: url("../img/social_vk.svg");
}

.facebook {
  background-image: url("../img/social_facebook.svg");
}

.instagram {
  background-image: url("../img/social_instagram.svg");
}

.vk,
.facebook,
.instagram {
  content: "";
  /*   position: absolute; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*  width: 44px;
 height: 44px; */
}



/* Стилизация модальных окон */

/* Форма связаться с нами */

.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px 4px 20px var(--items-shadow);
  background-color: var(--Basic-white);
  border-top: 7px solid var(--Basic-red);
}


.modal-kontakt {
  display: none;
  z-index: 40;
  top: 111px;
  bottom: auto;
  width: 620px;
  right: 13px;
}


.modal-kontakt form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-kontakt p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-kontakt label {
  margin-bottom: 11px;
}

.modal-kontakt input {
  display: block;
  width: 220px;
  height: 38px;
}

.name {
  margin-right: 20px;
}

.name,
.email {
  margin-top: 41px;
  margin-bottom: 13px;
}


.letter {
  margin-top: 0;
  margin-bottom: 37px;
}

.modal-kontakt textarea {
  display: block;
  width: 460px;
  height: 114px;
}

.modal-kontakt p {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.modal-kontakt input {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--Basic-black);
  border: 2px solid var(--Basic-soft-grey, #c5c5c5);
  border-radius: 2px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.modal-kontakt textarea {
  border: 2px solid var(--Basic-soft-grey, #c5c5c5);
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--Basic-black);
  border-radius: 2px;
  padding-left: 12px;
}

.map-close,
.kontakt-close,
.backet-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/icon-close_modal.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.button-modal {
  display: block;
  width: 460px;
  color: var(--Basic-white);
  background-color: var(--Basic-red);
  border: none;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.modal-kontakt-button {
  background-color: var(--modal-back, #F4F4F4);
  padding-top: 37px;
  padding-bottom: 37px;
  padding-right: 80px;
  padding-left: 80px;
  /*   display: block; */
}


/* Карта */

.modal-map {
  display: none;
  width: 943px;
  height: 449px;
  z-index: 40;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

/* Добавление в корзину */

.modal-backet_flex {
  display: flex;
  flex-direction: column;
}

.modal-backet {
  display: none;
  width: 620px;
  height: 282px;
  z-index: 40;
  top: 120px;
}

.modal-backet__button {
  background-color: var(--modal-back, #F4F4F4);
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal-backet__button {
  display: flex;
  justify-content: center;
}

.modal-backet__button a {
  display: block;
  background-color: var(--Basic-red);
  color: var(--Basic-white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 46px;
  padding-right: 47px;
  margin-right: 10px;
}

.modal-backet__button button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 32px;
  padding-right: 31px;
  display: block;
  border: none;
  background-color: var(--Basic-white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

}

.modal-backet p {
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 73px;
  margin-bottom: 63px;
}

.modal-backet p:before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: -15px;
  left: 80px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

/* Общая настройка для модального окна */
